<h1>NEW DUCK</h1>
<% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error_message| %>
      <li>
        <%= error_message %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= form_for @duck do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.label :student_id %>
  <%= f.collection_select :student_id, @students, :id, :name %>
  <%= f.submit %>
<% end %>
