<h1><%= @duck.name %>'s Show Page </h1>
<h2>Description: <%= @duck.description %></h3>
<h3>Owned by: <%= link_to @duck.student.name, @duck.student %></h3>
<h4><%= link_to "Update #{@duck.name}", edit_duck_path %>
<h4><%= link_to "Create a New Duck", new_duck_path %></h4>
<h4><%= link_to "View All Ducks", ducks_path %></h4>